body {
    font-family: Roboto;
    background-image: url("../imgs/nyan.gif");
    background-size: contain;
}

#title {
    text-shadow: 1px 0 #888888;
    letter-spacing:2px;
    padding: 0.2rem;
    margin: 1rem;
    border-radius: 8px;
    text-align: center;
    padding: 1rem;
    background-image: url(../imgs/3dgifmaker86144.gif);
    background-size: 20rem;
    color: white;
    font-weight:bold;
}

form {
    margin: 1rem;
}
